@import '/styles/common';
@import '/styles/colors';

.drpdncontainer {
  position: relative;
}

.Dropdown {
  position: absolute;
  box-sizing: border-box;
  background: $white;
  color: $primary;
  box-shadow: 0 0 75px $boxShadow2;
  border-radius: 12px;
  list-style: none;
  @extend .flexColSpaceEvenly;
  width: 0;
  padding: 0;
  translate: -50%;
  opacity: 0;
  height: 0;
  overflow: auto;
  text-align: center;
  transition: all 0.4s ease-out;
  z-index: -1;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    cursor: pointer;
    padding: 10px;
  }

  li:hover {
    color: $white;
    background-color: $primary;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px $boxShadow1;
    transition: all 0.25s;
  }

  li:active {
    box-shadow: 0px 2px 5px;
    transform: scale(0.98);
  }
}

.new {
  font-size: 18px;
  font-weight: 500;
}
