.drpdncontainer {
  position: relative;
}

.Dropdown {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #0c41ff;
  background: #fff;
  color: #0c41ff;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.4s ease-out;
  width: 0;
  padding: 0;
  translate: -50%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  z-index: -1;

  li {
    cursor: pointer;
    padding: 10px;
  }

  li:hover {
    color: #fff;
    background-color: #0c41ff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px #353030;
    transition: all 0.25s;
  }

  li:active {
    box-shadow: 0px 2px 5px;
    transform: scale(0.98);
  }
}
