@import '../../styles/colors.scss';
@import 'styles/common';

.wrapper {
  @extend .flexColStart;
  padding: 1rem 1.5rem;
  gap: 10px;
}

.toggle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 41px;
  height: 15px;

  .toggleName {
    font-weight: 600;
    font-size: 10px;
    color: $primary;
  }
}

.monthDaySlots {
  box-sizing: content-box;
}
