@import '../../styles/colors.scss';
@import 'styles/common';

.wrapper {
  @extend .flexColStart;
  padding: 1rem 1.5rem;
  gap: 10px;
}

.dateMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 10px;
  width: 30px;
  height: 33px;

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
    width: 22px;
    height: 25px;

    span {
      font-weight: 500;
      font-size: 10px;
      color: $text;
    }
  }
}

.toggle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 41px;
  height: 15px;

  .toggleName {
    font-weight: 600;
    font-size: 10px;
    color: $primary;
  }
}
