@import 'styles/colors';
@import 'styles/common';

.accMiniMenu {
  border: 1px solid $border;
  padding: 15px;
  border-radius: 20px;
  background: $white;

  .upperSection {
    width: 300px;
    @extend .flexCol;

    span {
      padding: 5px;
    }
  }

  .lowerSection {
    @extend .flexCol;
    gap: 10px;
    justify-content: left;

    button {
      all: unset;
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    .logoutIcon {
      margin-left: 2px;
    }
  }
}
