@import '../../../styles/colors.scss';

.eventDefHr,
.eventDescHr,
.eventSmallHr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 2px;
  background: $greenPastel;
  border: 1px solid $greenPastelDarker;
  border-radius: 3px;
}

.eventDescHr {
  gap: 4px;

  .defaultHorizontal {
    padding: 3px;
  }
}

.eventSmallHr {
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  gap: 4px;
  background-color: transparent;
  border: transparent;

  .defaultHorizontal {
    justify-content: space-between;
    padding: 4px;
  }
}

.defaultHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.eventName,
.eventTime,
.eventDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: $darkGreen;
}
