@import 'styles/common';
.btn {
  all: unset;
  padding: 0.25rem 0.75rem;
  @extend .flexCenter;
  font-size: 1rem;
  color: $black;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity, box-shadow 0.25s ease-in-out;
  -webkit-transition: opacity, box-shadow 0.25s ease-in-out;
  -ms-transition: opacity, box-shadow 0.25s ease-in-out;
  -moz-transition: opacity, box-shadow 0.25s ease-in-out;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.65;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

.fillBtn {
  background-color: blue;
  color: white;
}

.borderedBtn {
  border: 1px solid blue;
  color: blue;
}
