@import '../../../styles/colors.scss';
@import 'styles/common';
.fillBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
  position: relative;
  color: $white;
  background: $primary;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: opacity 0.4s;

  cursor: pointer;
  user-select: none;
  box-shadow: 0px 4px 8px $boxShadow1;

  svg {
    fill: $white;
  }

  &:hover {
    transition: all 0.25s ease-in-out;
    border: 1px solid $primary;
    background-color: transparent;
    box-shadow: 0px 4px 8px $primary;
    color: $primary;
    svg {
      fill: $primary;
    }
  }

  &:active {
    box-shadow: 0px 2px 5px;
    transform: scale(0.98);
    color: $primary;
    svg {
      fill: $primary;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

.borderedBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.4s;
  user-select: none;

  svg {
    fill: $primary;
  }

  &:hover {
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 8px $boxShadow1;
    background-color: $primary;
    color: $white;
    svg {
      fill: $white;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &:active {
    transition: all 0.25s ease-in-out;
    transform: scale(0.98);
    box-shadow: 0 2px 4px $boxShadow1;
    background-color: $white;
    color: $primary;
    svg {
      fill: $primary;
    }
  }
}

.transparentBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: relative;
  gap: 4px;
  color: $primary;
  background-color: transparent;
  transition: opacity 0.4s;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  svg {
    fill: $primary;
  }

  &:hover {
    transition: 0.1s ease-in-out;
    background-color: transparent;
    box-shadow: 0 4px 8px $boxShadow1;
    border: 1px solid $primary;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &:active {
    transition: all 0.25s;
    transform: scale(0.98);
    box-shadow: 0 2px 4px $boxShadow1;
    background-color: $primary;
    color: $white;

    svg {
      fill: $white;
    }
  }
}
