@import '/styles/colors';
@import '/styles/common';

.smallCalendar {
  height: max-content;
  padding: 10px;
  user-select: none;
}

.smallCalendarDays {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
