@import '/styles/colors';
@import '/styles/common';

.smallCalendar {
  // max-width: 250px;
  height: 218px;
  padding: 10px;
  user-select: none;
}

.smallCalendarDays {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: 238px;
  height: 33px;
}
