@import '/styles/colors';
@import '/styles/common';

.toolbar {
  @extend .flexRow;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 930px;
  height: 77px;
  background-color: $white;
  border-bottom: 1px solid $stroke;
  user-select: none;
}

.type {
  @extend .flexRowCenter;
  padding: 8px;
  gap: 4px;
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  svg {
    fill: $primary;
  }

  &:hover {
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 8px $boxShadow1;
    background-color: $primary;
    color: $white;
    svg {
      fill: $white;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &:active {
    transition: all 0.25s ease-in-out;
    background-color: $white;
    color: $primary;
    select {
      border: 1px solid $primary;
    }
  }
}

.sideBar {
  flex: none;
  flex-grow: 0;
  order: 0;

  &:active {
    svg {
      fill: $white;
    }
  }
}

.right {
  @extend .flexRowCenter;
  gap: 16px;
  font-size: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left {
  @extend .flexRowCenter;
  padding: 0px;
  gap: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.newDrop {
  font-size: 18px;
  font-weight: 500;
}

.label {
  font-weight: 500;
  font-size: 30px;
  align-items: center;
  color: $text;
}
