@import '/styles/colors';
@import '/styles/common.scss';

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@500&display=swap');

.dateMonth {
  @extend .flexCenter;
  padding: 4px;
  gap: 10px;
  width: 30px;
  height: 33px;
}

.date {
  @extend .flexCenter;
  padding: 5px;
  gap: 10px;
  width: 22px;
  height: 25px;

  &:hover {
    background-color: $hoverWhite;
    border-radius: 999px;
  }

  &:active {
    background-color: $primary;
    border-radius: 99px;
  }

  span {
    font-weight: 500;
    font-family: 'Aboreto', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: $text;
  }
}
