@import 'styles/common';

.label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 673px;
  height: 24px;
  border-bottom: 1px solid #dadce0;
  border: 1px solid#dadce0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  width: 96.14px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #333333;
  user-select: none;
}

.labelTimeSide {
  padding: 0px 10px 10px;
  gap: 10px;
  width: 54px;
  height: 28px;
  border: 1px solid #dadce0;
  user-select: none;

  .content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
}

.labelTimeSideTop {
  padding: 0px 10px;
  gap: 10px;
  width: 54px;
  height: 26px;
  border: 1px solid #dadce0;
  user-select: none;

  .content {
    width: 34px;
    height: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 5px;
    color: #333333;
  }
}

.labelDaySide {
  padding: 0px 10px 10px;
  gap: 10px;
  width: 44px;
  height: 28px;
  border: 1px solid #dadce0;
  user-select: none;

  .content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
}

.labelDayTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  width: 69px;
  height: 26px;
  border: 1px solid #dadce0;
  user-select: none;

  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 69px;
    height: 26px;
  }
}

.labelLeft {
  padding: 0px;
  width: 54px;
  height: 120rem;
  border: 1px solid #dadce0;
  user-select: none;
}
