@import '/styles/colors';

.layout {
  display: flex;
  width: 90vw;
  border: 1px solid red;
  height: 100vh;
  background: $white;

  .sideBar {
    width: 16%;
  }

  .main {
    width: 84%;
  }

  .container {
    height: 88.7%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .labelTop {
    width: 100%;
  }

  .labelLeft {
    width: 100%;
    justify-content: center;
  }
}

.monthDaySlots {
  box-sizing: content-box;
}

.event {
  height: 80px;
}

.eventWeek {
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 1260px) {
  .layout {
    .sideBar {
      display: none;
    }
  }
}
