@import '/styles/colors';

.layout {
  display: flex;
  width: 90vw;
  height: 100vh;
  background: $white;

  .sideBar {
    width: 16%;
  }

  .main {
    width: 84%;
  }

  .container {
    height: 89.7%;
    border: 1px solid red;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .labelTop {
    width: 100%;
  }

  .labelLeft {
    width: 100%;
    justify-content: center;
  }
}

.monthDaySlots {
  box-sizing: content-box;
}
