@import '/styles/colors';

.layout {
  display: flex;
  width: 90vw;
  height: 100vh;
  background: $white;

  .sideBar {
    width: 16%;
  }

  .main {
    border: 1px solid red;
    width: 84%;
  }

  .container {
    height: 89.8%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .labelTop {
    width: 100%;
  }

  .labelLeft {
    width: 100%;
    justify-content: center;
  }
}

.monthDaySlots {
  box-sizing: content-box;
}

.eve {
  padding: 0 10px;
}

.monthEvent {
  justify-content: space-between;
  border: 1px solid red;
  align-items: stretch;
}

@media screen and (max-width: 1260px) {
  .layout {
    .sideBar {
      display: none;
    }
  }
}
