@import 'styles/common';

.yearColumn {
  width: 80vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.common {
  width: 100%;
  > div {
    @extend .flexCenter;
  }
}

.monthView {
  display: grid;
  padding: 0;
  height: 100%;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.weekView {
  display: grid;
  height: 120rem;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
