@import 'styles/common';

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 250px;
  min-height: 458px;
  background: #ffffff;
}

.monthHeader {
  padding: 10px 16px;
  gap: 10px;
  width: 250px;
  height: 47px;
  @extend .testBorder;
}

.monthName {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.upcomingEvents {
  box-sizing: border-box;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 16px;
  gap: 10px;
  width: 250px;
  height: 193px;
  overflow: auto;
  @extend .testBorder;

  &::-webkit-scrollbar {
    display: none;
  }
}

.eventsHeading {
  display: flex;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  // @extend .testBorder;
}

.upcmngEvtCntnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  min-height: 139px;
  // border: 1px solid dodgerblue;
}

.eventItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #333333;
}
