@import '../../../styles/colors.scss';

.searchBox {
  background: transparent;
  height: 37px;
  display: flex;
  align-items: center;
  border-radius: 99px;
  padding-left: 5px;
}

.searchButton {
  all: unset;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $backgroundGrayWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 8 0.4s;

  svg {
    fill: $primary;
  }
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: $label;
  font-size: 14px;
  transition: 0.4s;
  height: 37px;
  width: 0px;
}

.closeIcon {
  display: none;
}

.searchInput:focus::placeholder {
  color: transparent;
}
