.searchBox {
  background: transparent;
  height: 37px;
  display: flex;
  align-items: center;
  border-radius: 99px;
  padding-left: 5px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.searchBox:hover > .searchInput {
  width: 204px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #fff;
  svg {
    fill: #0c41ff;
  }
}

.searchButton {
  all: unset;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 8 0.4s;

  svg {
    fill: #0c41ff;
  }
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #6a778b;
  font-size: 14px;
  transition: 0.4s;
  height: 37px;
  width: 0px;
}

.addIcon {
  display: none;
}

.searchInput:focus::placeholder {
  color: transparent;
}

.searchInput:focus::-webkit-input-placeholder {
  color: transparent;
}

.searchInput::focus:-ms-input-placeholder {
  color: transparent;
}
