@import '/styles/colors';
@import '/styles/common';

.week {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: 118px;
  min-height: 62px;
  background: $white;
  border: 1px solid $stroke;
  overflow: auto;
}

.month {
  box-sizing: content-box;
  @extend .flexCol;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 4px;
  gap: 10px;
  min-width: 106px;
  min-height: 102px;
  background: $white;
  border: 1px solid $stroke;
}

.bottomPartialSingleWeek {
  align-items: flex-end;
}

.middleSingleWeek {
  align-items: center;
}

.topFullSingleWeek {
  padding: 3px;
}

.bottomFullSingleWeek {
  align-items: flex-end;
  padding: 3px;
}

.fullSingleMonth {
  justify-content: space-between;
}

.fullDoubleMonth {
  justify-content: space-between;
}

.fullTripleMonth {
  justify-content: space-between;
}

.year {
  @extend .flexColCenter;
  padding: 20px;
  gap: 4px;
  height: 295px;
  background: $white;
}
