$white: #fff;
$black: #000;

$black-1: #222;
$btnGreen: #059862;

$border: #999;

$halfWhite: #f9f9f9;
$lightGray: #666;

$primaryBlue: #0090f3;
$linkHover: #0af;
$lightRed: #f32400;
$veryPaleBlue: rgba(0, 118, 255, 0.1);

$blueBoxShadow: rgb(0 118 255 / 39%);
$blueBoxShadowHover: rgb(0 118 255 / 23%);
$paleBlueBoxShadow: rgba(11, 65, 126, 0.15);
$paleBlueBoxShadowHover: rgba(11, 65, 126, 0.15);
$lightRedBoxShadow: #f3240092;
$lightRedBoxShadowHover: #f3240080;

$boxShadow1: #353030;
$boxShadow2: rgb(215 215 215 / 50%);

$stroke: rgba(218, 220, 224, 0.6);
$text: #333333;
$primary: #0c41ff;
$selectedWhite: #f5faff;
$hoverWhite: #ededed;
$backgroundGrayWhite: #f5f5f5;
$label: #6a778b;

$red: #f54d4d;
$redDarker: #be1a1a;
$redPastel: #ffdddd;
$redPastelDarker: #fdb7b7;
$darkRed: #721818;

$green: #55d28f;
$greenDarker: #3ba86e;
$greenPastel: #bdffdb;
$greenPastelDarker: #8fdcb2;
$darkGreen: #2c5a41;

$blue: #3849e0;
$blueDarker: #2937b5;
$bluePastel: #bfc6ff;
$bluePastelDarker: #939eff;
$darkBlue: #131c6d;

$purple: #6438e0;
$purpleDarker: #3a14a8;
$purplePastel: #d6c8ff;
$purplePastelDarker: #a384ff;
$darkPurple: #341d76;

$amber: #f7b610;
$amberDarker: #d29b0a;
$amberPastel: #ffebb7;
$amberPastelDarker: #e7c160;
$darkAmber: #684d08;
