@import './colors.scss';
@import './mixins.scss';

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColSpaceEvenly {
  @extend .flexCol;
  justify-content: space-evenly;
}

.flexColStart {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowStart {
  @extend .flexRow;
  align-items: flex-start;
}

.flexRowCenter {
  @extend .flexCenter;
  flex-direction: row;
}

.flexColCenter {
  @extend .flexCenter;
  flex-direction: column;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.redBorder {
  border: 1px solid red;
}
