@import "./colors.scss";
@import "./mixins.scss";

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.flexColStart {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterCol {
  @extend .flexCenter;
  flex-direction: column;
}
